.nf-form-cont {
  background: #fd8989;
  border: 1px #f5f5f5 solid;
  margin: 0 auto;
  max-width: 640px;
}

.nf-form-title.nf-form-title {
  display: block;
  padding: 25px 50px 0 50px;
  @extend h1;
  h3 {
    color: #fff;
  }
}

.nf-before-form-content {
  padding: 0 50px 25px;
}

.nf-response-msg {
  padding: 20px 20px 0;
}

.nf-form-content.nf-form-content {
  background: #fff;
  padding: 25px 50px;
}