.hero {
  padding: 72px 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 0 0 100px;
  }

  &__steps {
    margin: 0 auto 40px;
    max-width: 900px;
    @media screen and (min-width: 768px) {
      display: flex;
    }

    .step {
      flex: 1;
      margin-bottom: 40px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      img {
        margin-bottom: 40px;
      }
    }
  }
}

  .hero__content {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 768px) {
      padding: 60px 100px;
    }

    label {
      text-align: left;
      color: rgb(10, 10, 10);
    }
  }
