.listing {
  padding: 72px 0;

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    li {
      padding: 0.1875rem 0.625rem;
      display: inline-block;

      &:before, &:after {
        display: none;
      }

      &.current a {
        pointer-events: none;
      }

      &.disabled a {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .search {
    max-width: 700px;
    margin: 20px auto 40px;
  }
}

  .listing__title {
    margin-bottom: 20px;
  }

  .listing__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 480px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .card {
      text-align: center;
      width: 100%;
      flex-grow: initial;
      transition: all 0.3s ease-in-out;

      h4 {
        font-weight: 700;
      }

      &:nth-child(4n+1){
        background: #FBD4C2;
        .button {
          background: darken( #FBD4C2, 15% );
        }
        .card-section {
          border-color: darken( #FBD4C2, 5% );
        }

      }

      &:nth-child(4n+2){
        background: #9DE1E3;
        .button {
          background: darken( #9DE1E3, 15% );
        }
        .card-section {
          border-color: darken( #9DE1E3, 5% );
        }
      }

      &:nth-child(4n+3){
        background: #FDE08D;
        .button {
          background: darken( #FDE08D, 15% );
        }
        .card-section {
          border-color: darken( #FDE08D, 5% );
        }
      }

      &:nth-child(4n+4){
        background: #c2d6fb;
        .button {
          background: darken( #c2d6fb, 15% );
        }
        .card-section {
          border-color: darken( #c2d6fb, 5% );
        }
      }

      @media screen and (min-width: 480px) {
        width: calc(50% - 7.5px);
        &:nth-child(2n+2) {
          margin-left: 15px;
        }
      }

      @media screen and (min-width: 768px) {
        width: calc(33% - 10px);

        &:nth-child(2n+2) {
          margin-left: 0;
        }

        &:nth-child(3n+2) {
          margin-left: 15px;
        }

        &:nth-child(3n+3) {
          margin-left: 15px;
        }
      }
    }
  }

  .listing-filter .container {
    display: flex;
    label {
      width: 100%;
      max-width: 350px;
    }
  }

  .card-section.card-section {
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card__meta {
    font-size: 12px;
  }

  .card__modal {
    &-interior {
      background: white;
      color: black;
      padding: 10px;
      max-width: 600px;
      min-height: 300px;
      z-index: 2;
      padding: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        border: 1px solid #f9c3aa;
        pointer-events: none;
      }

      ul {
        align-self: flex-start;
        justify-content: center;
        margin-left: 0;
        width: 100%;

        li {
          display: flex;

          span {
            font-size: 10px;
            padding-left: 20px;
            width: 200px;
          }
        }
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }