.partners {
  background: #fff;
  padding: 40px 0 20px;
  text-align: center;


    &__content {
      margin: 40px 0;
      text-align: center;
      img {
        margin: 0 10px;
        max-height: 130px;
        max-width: 130px;
      }
  }
}