.search {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }

  input {
    border: 0;

    &:focus, &:active {
      border: 0;
    }
  }
}

  .search__input {
      flex: 1;
      width: 100%;

      @media screen and (min-width: 480px) {
        width: auto;
      }

      input {
        margin: 0;
        height: 50px;
      }

      select {
        margin: 0;
      }
    }

  .search__cta-container {
    text-align: center;
    width: 100%;

    button {
      display: inline;
      margin: 0 auto;
      // height: 2.4375rem;
      width: 100%;

      @media screen and (min-width: 480px) {
        width: auto;
      }
    }
    a, button {
      margin: 10px;

      &:last-child {
        color: white;

        &:hover {
          color: rgba(#fff, 0.8);
        }
      }
    }
  }

  .hero__all-link {
    margin-top: 20px;
    a {
      color: rgb(10, 10, 10);
    }
  }