// Settings & Variables
// ==============================================================
// Basic application includes. Here we should import Foundation
// settings, our own variables, mixins and functions.
@import 'settings';
@import 'variables';

// Components
// =================================================
// Now you can include all of theme specific components bellow.
@import 'hero';
@import 'listing';
@import 'footer';
@import 'form';
@import 'search';
@import 'partners';


body {
  background: transparent;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 200px);
}

.top-bar {
  margin: 20px 0;
  img {
    height: 60px;

    @media screen and (min-width: 480px) {
      height: 70px;
    }
  }

  .top-bar-left, .top-bar-right {
    flex: 1;
  }

  .top-bar-right {
    text-align: right;
  }

  .button {
    margin-bottom: 0;
  }
}

html {
  background: #e7fdff;
  background-image: linear-gradient(#F6FBFC, #D6F8FC);
}


.top-bar {
  background-color: transparent;
}

h1 {
  color: #4DA7FF;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

article{
  margin: 0 auto;
  max-width: 640px;
  text-align: center;

  .article-header h1 {
    color: black;
  }
  .article-content {
    padding: 25px 50px;
    text-align: center;

    h2 {
      font-size: 20px;
      text-transform: uppercase;
    }
  }


  h1 {
    color: #fff;
  }
}

.article-comments {
  background: #fff;
  border: 1px #f3f3f3 solid;
  max-width: 960px;
  padding: 25px 50px;
}